*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}

body{
 background: url('./images/pexels.jpg');
 background-size: cover;
background-position: center center;
background-attachment: fixed;
width: 100%;
height: 100%;
background-repeat: no-repeat;
 
}

.dark-mode{
  color: white;
  background-color: black;
  background-image: none;

}

.main{
  position: relative;
  height: 70px;
}
.main ul{
  float: right;
  position: absolute;
  right: 70px;
  top: 10px;
  width:auto;
  height: auto;
  
}
.main ul li {
  float: left;
  text-align: center;

  
  
}
.main i{
  padding: 10px;
  text-align: center;
 

}

.main ul li a{
  display: block;
  color: black;
  transition-timing-function: linear;
  


  
}
.main ul li a :hover{
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(1.2);


}


.button i{
  position: absolute;
  padding: 10px;
  right: 2px;
  top: 10px;
  cursor: pointer;
  
}


.container{
  height: auto;
 min-height: 400px;
  width: 100%;
}
 .imp{
height: auto;

width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


 }



.intro{
  width: 40%;
  height: auto;
  line-height: 30px;
  font-size: 1.5rem;
 
  animation: slide 4s linear 1;


}
@keyframes slide{
  0%{
    transform: translate(-400px);
  }
  50%{
    transform: translate(0px);
  }
 
}

.image img{
  height: 500px;
  width: 600px;
 
 
  
  animation: rotate 2s linear 1;
  
}
@keyframes rotate{
  0%{
    transform: translate(400px);
    
  }

}
.intro h1{
  padding: 10px;
}
.intro p{
  padding: 10px;
}
.skills{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  margin-top: 30px;
  text-align: center;

}
.imag{
  width: 100px;
 
}
.imag:hover{
background-color: rgba(0, 0, 0, 0.2);
transform: scale(1.2);



}

.img1 i{
  font-size: 50px;
  animation: flip 2s linear 1;
  
}
.skills1{
  margin-top: 0px;

}
 
.imag{
width: 100px;
height: auto;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

@keyframes flip{
  0%{
    transform: rotatey(360deg);
  }
}
.contact{
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  height: 200px;
  text-align: center;
  


}
.content h3{
 display: inline;
 padding: 20px;
 text-align: center;
}
.full{
  height: 245px;
  width: 100%;
  position: relative;
}

.content,.head{
  padding: 10px;
}
.pos{
  background-color: aqua;
  width: 100%;
  height: 56px;
}

@media only screen and (max-width: 720px)
{
 

.intro{
font-size: 0.8rem;
width: 100%;
}
.intro h1
{
  text-align: center;
}
.image img{
display: none;
}
.main{
position: relative;

}
.main ul{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
}
.button i{
  display: none;
}
.skills i{
  font-size: 2rem;
}
.skills h3{
  font-size: 1rem;
}



}
